* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.memory_game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  height: 95vh;
  perspective: 1000px;
  @media screen and (max-width: 1220px) {
    width: 100vw
  }
  .memory_card {
    flex-shrink: 0;
    margin: 10px;
    width: calc(16.666% - 20px);
    height: calc(33.333% - 20px);
    position: relative;
    transform: scale(1);
    transition: 0.2s;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    &:active {
      transform: scale(0.97);
    }
    .front_face,
    .back_face {
      backface-visibility: hidden;
      position: absolute;
      &.front-face {
        z-index: 2;
        transform: rotateY(0deg);
      }
      &.back_face {
        transform: rotateY(180deg);
        border-radius: 10px;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
      }
    }
    &.flip {
      transform: rotateY(180deg);
    }
  }
}