* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./img/background-body.jpg') no-repeat center center;
  background-size: cover;
}

.effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.title {
  position: absolute;
  top: 44vh;
  left: -180px;
  color: #fff;
  font-size: 4rem;
  transform: rotate(270deg);
  text-transform: uppercase;
  font-family: 'Goldman', cursive;
}
@media screen and (max-width: 1200px) {
  .title {
    display: none;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.memory_game {
  width: 60%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  border: 2px solid #333;
}

@media screen and (max-width: 1200px) {
  .memory_game {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .memory_game {
    width: 100%;
  }
  .memory_card {
    flex-shrink: 0;
    margin: 10px;
    width: calc(25% - 20px);
    height: calc(33.333% - 20px);
  }
}

.memory_card {
  width: calc(16.666% - 20px);
  height: calc(33.333% - 20px);
  margin: 10px;
  position: relative;
  transform: scale(1);
  transition: 0.2s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  cursor: pointer;
}
.memory_card:active {
  transform: scale(0.97);
}
.front_face,
.back_face {
  backface-visibility: hidden;
  position: absolute;
}
.front_face {
  z-index: 2;
  transform: rotateY(0deg);
}
.back_face {
  transform: rotateY(180deg);
}
.flip {
  transform: rotateY(180deg);
}
